<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private Messaging</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <link rel="stylesheet" href="/messages.css">
</head>

<body>
  <div id="returnHome">
    <a href="/home">Return</a>
  </div>
  <div id="chat">
    <div id="messages"></div>
   
    <input type="text" id="username" placeholder="Enter username to chat">
    
    <button onclick="searchUser()">Search</button>
    <div id="sending">
    <input type="text" id="messageInput" placeholder="Type your message">
    
    <button onclick="sendMessage()">Send</button>
    </div>
  </div>
  
  
  
  



</body>

</html>
